<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
  	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd
	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<cache:annotation-driven />
	
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
	    <property name="caches">
		    <set>
		        <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="test"/>
		    </set>
	    </property>
	</bean>
	
	<bean id="service" class="com.tieto.weather.service.impl.WeatherServiceDBcache">
		<property name="unmarshaller" ref="oxm-unmarshaller"/>
		<property name="wundergroundResponseMapper">
			<bean class="com.tieto.weather.mapper.impl.WundergroundResponseMapper" />
		</property>
	</bean>	
	
	<oxm:jaxb2-marshaller id="oxm-unmarshaller" contextPath="com.tieto.weather.wunderground.schema"/>
	
	<bean id="weatherObjectFactory" class="com.tieto.weather.schema.ObjectFactory" />
		
</beans>