<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="com.tieto.weather.impl.WeatherRESTController">
		<constructor-arg>
			<ref bean="objectFactory" />
		</constructor-arg>
		<property name="weatherRequestMapper">
			<bean class="com.tieto.weather.mapper.impl.WeatherRequestMapperREST" />
		</property>
		<property name="weatherResponseMapper">
			<bean class="com.tieto.weather.mapper.impl.WeatherResponseMapper" />
		</property>
		<property name="weatherService">
			<ref bean="service" />
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="alwaysUseFullPath" value="true"/>
	</bean>

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
		</property>
	</bean>

	<bean id="jsonObjectMapper"	class="org.codehaus.jackson.map.ObjectMapper" />
</beans>