<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
  	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd
	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
			      
   	<cache:annotation-driven />
	
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
	    <property name="caches">
		    <set>
		        <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="weatherCache"/>
		    </set>
	    </property>
	</bean>
	
	<bean id="service" class="com.tieto.weather.service.impl.WeatherServiceCachedStub">
		<property name="unmarshaller" ref="oxm-unmarshaller"/>
		<property name="wundergroundResponseMapper">
			<bean class="com.tieto.weather.mapper.impl.WundergroundResponseMapper" />
		</property>
		<property name="apiKey" value="${api.key}"/>
		<property name="url" value="${urlString}"/>
		<property name="cities" ref="cities"/>
	</bean>	
	
	<oxm:jaxb2-marshaller id="oxm-unmarshaller" contextPath="com.tieto.weather.wunderground.schema"/>
	
	<bean id="weatherObjectFactory" class="com.tieto.weather.schema.ObjectFactory" />
		
	<bean id="wundergroundScheduler" class="com.tieto.weather.scheduler.WeatherScheduler">
		<property name="weatherService" ref="service"/>
		<property name="cities" ref="cities"/>
	</bean>	
	
	<task:scheduled-tasks>
		<task:scheduled ref="wundergroundScheduler" method="readWeathers" fixed-rate="${cache.time}"/>
	</task:scheduled-tasks>
	
	<context:property-placeholder location="classpath:config.properties"/>

	<bean id="cities" class="com.tieto.weather.vo.CitiesVO">
		<constructor-arg>
		  <map>
			  <entry key="${city1.name}" value="${city1.country}"/>
			  <entry key="${city2.name}" value="${city2.country}"/>
			  <entry key="${city3.name}" value="${city3.country}"/>
			  <entry key="${city4.name}" value="${city4.country}"/>
		  </map>
 		 </constructor-arg>
	</bean>
	
</beans>